<!DOCTYPE html>
<html lang="en" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>txt-q</title>
		<link rel="stylesheet" href="/public/css/survay-ui.css" />
		<link rel="stylesheet" href="/public/css/responsive.css" />
		<link rel="stylesheet" href="/public/css/navbar.css">
	</head>
	<body>
		<%-include("./navbar.ejs")%>
		<div class="container3">
			<form action="/form/survay/?_csrf=<%=csrfToken%>" method="post" name="user-ui" enctype="multipart/form-data">
				<div class="row col-lg-12">
					<%for(question of questions){%>
					<%if(question.type == "txt"){%>
					<p class="question"><%=question.question%></p>
					<textarea
						class="txt-answer"
						name="<%=question.question%>"
						id=""
						cols="50"
						rows="5"
						placeholder="محل درج پاسخ..."
						autofocus
					></textarea
					><br /><br />
					<hr />
					<br />
					<%}else if(question.type == "multi"){%>
					<p class="question"><%=question.question%></p>

					<div class="row">
						<div class="col-lg-3">
							<label class="container1"
								><%=question.values[0]%>
								<input type="radio" name="<%=question.question%>" value="<%=question.values[0]%>" />
								<span class="checkmark right"></span>
							</label>
						</div>
						<div class="col-lg-3">
							<label class="container1"
								><%=question.values[1]%>
								<input type="radio" name="<%=question.question%>" value="<%=question.values[1]%>"/>
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="col-lg-3">
							<label class="container1"
								><%=question.values[2]%>
								<input type="radio" name="<%=question.question%>" value="<%=question.values[2]%>"/>
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="col-lg-3">
							<label class="container1"
								><%=question.values[3]%>
								<input type="radio" name="<%=question.question%>" value="<%=question.values[3]%>"/>
								<span class="checkmark"></span>
							</label>
						</div>
					</div>
					<hr/>
					<br/>
					<%}else{%>
						<br /><br />
						
						
						<div id="upload-question">
							<div class="row">
							  	<div class="col-lg-4 right-side">
									<p class="question"><%=question.question%></p>
									<input type="file" id="myFile" name="<%=question.question%>"/><br />
								</div>
							</div>
						</div>
					<%}%>
					<%}%>
				</div>
				<br />
				<hr />
				<input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
				<input type="hidden" name="formNum" value="<%=formNum%>">
				<button class="submit-btn1 hovering1" type="submit">
					تایید
				</button>
				<br />
			</form>
		</div>
	</body>
</html>
